* {
    font-family: 'Gentium Plus', serif
}
body {
    background-color: #92A1B3;
}
.navbar {
    background-color: #d2d2d2;
    color: white;
}
.nav-link {
    color: white;
    font-size: larger;
}
.form-box, .about-box {
    background-color: #d2d2d2;
    border-radius: 8px;
}
#search-result {
    background-color: #d2d2d2;
    border-radius: 8px;
}
#gif {
    background-color: #d2d2d2; 
    overflow: hidden;
    border-radius: 8px;
    justify-content: center;
}
h3:hover {
    color: white;
    cursor: pointer;
    transform: translate(4px);
}
a {
  text-decoration: none;  
  color: white;
}
#submit-btn:hover {
    background-color: #92A1B3;
}
